//   ██████╗ ██████╗ ██╗      ██████╗ ██████╗
//  ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗
//  ██║     ██║   ██║██║     ██║   ██║██████╔╝
//  ██║     ██║   ██║██║     ██║   ██║██╔══██╗
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║
//   ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝
//

$black-1: #030303;
$black-2: #171717;
$black-3: #242424;
$primary: #00B050;
$grey: #7D7D7D;
$white: #fff;