//  ███████╗██████╗  █████╗  ██████╗██╗███╗   ██╗ ██████╗
//  ██╔════╝██╔══██╗██╔══██╗██╔════╝██║████╗  ██║██╔════╝
//  ███████╗██████╔╝███████║██║     ██║██╔██╗ ██║██║  ███╗
//  ╚════██║██╔═══╝ ██╔══██║██║     ██║██║╚██╗██║██║   ██║
//  ███████║██║     ██║  ██║╚██████╗██║██║ ╚████║╚██████╔╝
//  ╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝╚═╝╚═╝  ╚═══╝ ╚═════╝
//

// Units

$space-half: .5rem;
$space: .8rem;
$space-2: 1.6rem;
$space-3: 2.4rem;
$space-4: 3.2rem;
$space-5: 4rem;