
//  ████████╗██╗   ██╗██████╗  ██████╗
//  ╚══██╔══╝╚██╗ ██╔╝██╔══██╗██╔═══██╗
//     ██║    ╚████╔╝ ██████╔╝██║   ██║
//     ██║     ╚██╔╝  ██╔═══╝ ██║   ██║
//     ██║      ██║   ██║     ╚██████╔╝
//     ╚═╝      ╚═╝   ╚═╝      ╚═════╝
//

$font: 'avenir-roman', system-ui;
$font-heavy: 'avenir-heavy', system-ui;
$font-black: 'avenir-black', system-ui;

// Typos
$headline-1: 3.2rem;
$subtitle-1: 1.6rem;
$body: 1.4rem;
$button: 1.4rem;

// Typo Bolds

$black: 800;
$medium: 600;
$regular: 400;

@font-face {
  font-family: 'avenir-roman';
  src: url('../../fonts/avenir-roman.otf');
  font-style: normal;
  font-weight: $regular;
}

@font-face {
  font-family: 'avenir-heavy';
  src: url('../../fonts/avenir-heavy.otf');
  font-style: normal;
  font-weight: $medium;
}

@font-face {
  font-family: 'avenir-black';
  src: url('../../fonts/avenir-black.otf');
  font-style: normal;
  font-weight: $black;
}